

body{
    background-image: url("https://th.bing.com/th/id/OIP.Kr1cThAqOUdxDu8OLvSoUgHaIn?w=173&h=201&c=7&o=5&pid=1.7");
    height: 100%;
    width: 100%;
    background-position: center;
}

 
.square{ 
    margin-left: 10%;
    margin-right: 10%;
    width: 80%; 
    height: 1000px;; 
    Background-color: black; 
} 
h1{
    color: red;
    font-size:50px;
}
a{
    font-size: 20px;;
    color: blue;
    text-decoration: none;
}
h3{
    color:blue;
    font-size: 20px;
}
p{
    color:white;
    font-size:20px;
}